<div
    class="flex flex-col bg-gray-100 px-4 sm:px-8 pt-28 text-sm items-center justify-center align-middle rounded-b-[75px]">
    <img src="../assets/logoHome.png" alt="Image 1" class="w-32 h-32 object-cover rounded-full border border-gray-200">
    <div class="pt-3 bg-gradient-to-r from-black via-gray-700 to-gray-500 inline-block text-transparent bg-clip-text text-center 
        font-bold text-4xl">

        <h1>
            Lama Alzahrani</h1>
        <p>Software engineer , web devloper and full stack devloper</p>
    </div>
    <button class="bg-[#242424] mt-12 rounded-full py-2 px-4 text-white">Let's talk</button>

</div>